.header {
  background-color: var(--headerColor);
  padding: 10px;
}

.back__button {
  display: flex;
}

.back__button-hover {
  color: var(--linkDefault);
}

.back__button-hover:hover {
  color: #446CED
}