.list {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
padding: 20px;
}

.main__header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: var(--headerColor);
  align-items: center;

}

.search__input {
  width: 150px;
  height: 3em;
}

.nav__elem{

  color: var(--linkDefault);
  cursor: pointer;
}

.nav__elem:hover{

  color: #446CED;
}

.pagination__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.pagination__button {
  padding: 5px;
  width: 30px;

}

.pagination__step-active {
  background-color: #446CED;
}
@media (max-width:960px) {
  .nav__elem {
    font-size: 1em;
  }

  .list {
    justify-content: center;

  }

  
  

}