.container {
  padding: 25px;
}

.back__button {
  display: flex;
}

.back__button-hover {
  color: var(--linkDefault)
}

.back__button-hover:hover {
  color: #446CED
}

.change__container {
  display: flex;
  flex-direction: column;
}

.now {
  flex-direction: row;
}


.now__image {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.edit__step__title {
  margin-top: 15px;
}

.description__input {
  max-width: 780px;
  resize: none;
}

.title__input {
  max-width: 780px;
}

.image__input {
  max-width: 780px;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.reset__button, 
.save__button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

.reset__button {
  background-color: var(--lightBlue);
}

.reset__button:hover {
  background-color: #0e97bf;
}

.save__button {
  background-color: var(--green);
}

.save__button:hover {

  background-color: #14c06c;
}

.error {
  color: red;
  font-size: 12px;
}

@media (max-width:960px) {
  .now {
    flex-direction: column;

  }
}