.card {
  border-radius: 15px;
  position: relative;
  width: 250px;
  background-color: #FFF;
}

.card__link {
  border-radius: "15px";
}

.card__buttons {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #afafaf;
  border-radius: 10px;
}


.card__button__like {
  z-index: 1;
  border: 0;
  background-color: transparent;
  max-height: 24px;
}

.card__button__like>svg>path:first-child {
  fill: #FFF
}

.card__button__like>svg>path:last-child {
  fill: #242424
}

.card__button__like-active>svg>path:first-child:hover {
  fill: red
}

.card__button__like-active>svg>path:last-child {
  fill: red
}

.card__button__like-active>svg>path:first-child {
  fill: red
}

.card__button__like:hover>svg>path {
  fill: red
}

.card__dropdownButton {
  background-color: #FFF;
  border: 1px solid #242424;
  border-radius: 12px;
  max-height: 24px;

  box-sizing: content-box;
  background-color: #FFF;
  border: 1px solid #242424;
  border-radius: 12px;
  max-height: 20px;
  padding: 1px;

  border: 0;
  max-height: 20px;
  padding: 2px;

}

.card__imageContainer {
  overflow: hidden;
  border-radius: 10px;
  height: 300px;
  background-color: #FFF;
  padding: 10px;
}

.card__image {
  border-radius: 15px;
  object-fit: contain;
  height: 290px;
  width: 100%;
  max-width: 240px;
}

.card__text {
  padding: 10px;
}

.card__text__title {
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}

.card__text__description {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em;
  max-height: 2.6em;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.heart:hover>path {
  fill: red;
}

.card__buttons__all {
  display: flex;
  flex-direction: row;
  gap: 5px;

  width: 240px;
  height: 63px;
  margin: 5px;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: flex-end;

}

.tools__buttons {
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 0;
  animation: creating 0.2s ease;
}

.tools__change__button {
  background: aqua;
  border-radius: 10px 10px 0px 0px;
  border: 0;
  width: 200px;
  height: 50%;
}

.tools__delete__button {
  background: red;
  height: 50%;
  width: 200px;
  border: 0;
  border-radius: 0px 0px 10px 10px;
}

.tools__buttons-active {
  width: 200px;
}

@keyframes creating {
  0% {
    width: 0;
  }

  100% {
    width: 200px;
  }
}