.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  p {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .demo{
    aspect-ratio: 1920/1080;
    background-color: #0056b3;
    width: 90%;
  }
  
  .demo__container {
    display: flex;
    justify-content: center;
margin-bottom: 100px;
  }